<div id="container">
  <h1>Stupid coach</h1>
  <div class ="box">
    <h2  id="your_question"><%=@question%></h2>
    <h3><em>- You</em></h3>
  </div>
  <div class ="box" id="yellow">
    <h2 id="coachresponse"><%=@response%></h2>
    <h3 id="coachresp"><em>- Your coach</em></h3>
  </div>
  <a href="ask">ask new question</a>

</div>
